.bg-img{
    height: 100vh;
}

.input-field{
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: none;
    width: 100%;
}

.submit-btn{
    padding: 12px 28px;
    outline: none;
    border-radius: 50px;
    color: white;
    background-color: var(--blue-btn);
    border: none;
}

form > div{
    margin: 16px 0;
}

.input-label{
    font-weight: 600;
}