<div class="row">
  <div class="col-5 p-0 m-0">
    <img class="bg-img" src="assets/BG.svg" alt="" />
  </div>

  <div class="col-7" *ngIf="!signUp">
    <div class="my-5">
      <h1>Регистрация</h1>
      <p class="text-muted">Пожалуйста, заполните все поля</p>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="registrate()">
      <div class="row">
        <div class="col-3 input-label">ИМЯ</div>
        <div class="col-7">
          <input class="input-field" type="text" formControlName="username" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 input-label">КОМПАНИЯ</div>
        <div class="col-7">
          <input class="input-field" type="text" formControlName="company" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 input-label">АДРЕС</div>
        <div class="col-7">
          <input class="input-field" type="text" formControlName="address" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 input-label">ТЕЛЕФОН</div>
        <div class="col-7">
          <input class="input-field" type="tel" formControlName="phone" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 input-label">ПАРОЛЬ</div>
        <div class="col-7">
          <input
            class="input-field"
            type="password"
            formControlName="password"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-10 d-flex justify-content-end align-items-center my-5">
          <div class="me-5 text-secondary" (click)="signUp = true">Войти</div>
          <button class="submit-btn">Подтвердить</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-7" *ngIf="signUp">
    <div class="my-5">
      <h1>Авторизация</h1>
      <p class="text-muted">Пожалуйста, заполните все поля</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="row">
        <div class="col-3 input-label">ИМЯ</div>
        <div class="col-7">
          <input class="input-field" type="text" formControlName="username" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 input-label">ПАРОЛЬ</div>
        <div class="col-7">
          <input
            class="input-field"
            type="password"
            formControlName="password"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-10 d-flex justify-content-end align-items-center my-5">
          <div class="me-5 text-secondary" (click)="signUp = false">
            Регистрация
          </div>
          <button class="submit-btn">Войти</button>
        </div>
      </div>
    </form>
  </div>
</div>
